<p>company works!</p>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
           <div>
            <div class="jumbotron">
                <h1 class="display-4">در باره ی شرکت</h1>
                <p class="lead">
                      Persian Gulf Petrochemical Industries Corporation (Persian: شرکت صنایع پتروشیمی خلیج فارس, Shirkat-e Sânai'-ye Petrushimi-ye Xelij-e Fars) is an Iranian public holding company. it is mainly active in investment and administrating natural-gas processing plants, chemical factories, oil and polymer.

                        It was built by National Petrochemical Company in 2011 with 800 billion Toman capital. It was the second most profitable Iranian company in 2015.[1] It is the second biggest petrochemical company after SABIC in the middle east.[2] The company generated a total of 1.2 billion dollars in revenue over the first three months (Q1) in 2018.[3]

                        US Treasury sanctioned PGIC for aiding Khatam al anbia construction base in 2019.[4]

                        In 2019 it was the 35th in ICIS top 100 chemical companies list.[5]
                </p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>

        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">شرکت تجارت پتروشیمی</h1>
          <p class="lead"> پالایشگاه‌ها، مجتمع‌های پتروشیمی و کارخانجات شیمیایی، همچنین تولید فراورده‌های نفتی، محصولات پتروشیمی، مواد شیمیایی و پلیمرها فعالیت می‌کند.

            شرکت صنایع پتروشیمی خلیج‌فارس در سال ۱۳۸۹ توسط شرکت ملی صنایع پتروشیمی ایران و با سرمایه‌گذاری بالغ بر ۸۰۰ میلیارد تومان راه‌اندازی شد. این شرکت در سال مالی ۱۳۹۴ درآمدی بالغ بر ۲۵ هزار میلیارد تومان کسب نمود و به‌عنوان دومین شرکت ایران بر پایه میزان درآمد شناخته شد.[۲] شرکت صنایع پتروشیمی خلیج‌فارس هم‌اکنون با دارا بودن بیش از ۱۵ شرکت تولیدی و خدماتی، به‌عنوان بزرگترین هلدینگ پتروشیمی در خاورمیانه پس از سابک عربستان، شناخته می‌شود.[۳]
            
            دفتر مرکزی این شرکت در تهران قرار دارد و بخشی از سهام آن، با نماد فارس در بازار بورس اوراق بهادار تهران معامله می‌شود.[۴] شرکت ملی صنایع پتروشیمی ایران با در اختیار داشتن ۱۸٫۷۴٪، شرکت سرمایه‌گذاری صندوق بازنشستگی صنعت نفت ۱۱٫۸۹٪ و شرکت سرمایه‌گذاری نفت، گاز و پتروشیمی تأمین ۷٫۶٪ از سهام شرکت صنایع پتروشیمی خلیج‌فارس، به‌عنوان بزرگترین سهام‌داران آن شناخته می‌شوند، همچنین ۴۰٪ از مالکیت این گروه متعلق به سهام عدالت می‌باشد.
            
            از شرکت‌های زیرمجموعه هلدینگ خلیج‌فارس می‌توان به: پتروشیمی بندرامام، پتروشیمی اروند، پتروشیمی تندگویان، پتروشیمی فجر، پتروشیمی بوعلی، پتروشیمی مبین، پتروشیمی ایلام، پتروشیمی کارون، پتروشیمی پارس، عملیات غیرصنعتی پازارگاد، پتروشیمی نوری و پالایشگاه گاز بیدبلند اشاره کرد.
            
            برخلاف بیشتر هلدینگ‌های پتروشیمیایی جهان، صنایع پتروشیمی خلیج‌فارس هیچگاه در مجتمع‌های پتروشیمی خود، صنایع شیمیایی و پلیمری پایین‌دستی پتروشیمی، احداث نکرده‌است. البته این هلدینگ به‌گونه مجزا و تحت شرکت‌های جداگانه، قصد ساخت شهرک‌های صنایع پایین‌دستی را دارد.
            
            با توجه به وابسته بودن ایران از منظر تأمین منابع پروتئین دامی نظیر کنجاله سویا و پودر ماهی به واردات، یکی از مهم‌ترین استعدادهای صنایع پتروشیمی ایران در حوزه صنایع پایین‌دستی را می‌توان تولید پروتئین تک‌یاخته از متانول دانست که هم‌اکنون توسط بسیاری از کشورهای نفتی نظیر روسیه، نروژ و اخیراً عربستان، به‌شکل انبوه توسط هلدینگ‌های پتروشیمی تولید می‌شود.
            
            ارزش مالی هلدینگ خلیج فارس و زیر مجموعه‌های آن حدود ۱۲۰ میلیارد دلار است. با وجود اینکه سهام عدالت مالک ۴۰٪ این مجموعه اقتصادی است و بیش از ۴۹ میلیون شهروند ایرانی سهامدار سهام عدالت این هلدینگ هستند، اما سهم مردم عادی از این گردش مالی بسیار پایین است. همچنین هلدینگ خلیج فارس سهامدار ۴۵ درصدی شرکت بازرگانی پتروشیمی است
        </p>
        </div>
      </div>

</div>